body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2e6ff;
  padding: 10px 30px;
}

.logo {
  font-size: 22px;
  max-height: fit-content;
  font-weight: bold;
  color: #8667F2;
  text-decoration: none;
  font-family: Irish Grover;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo span {
  color: #c56cf0;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #654ac6;
  transform: scale(1.05);
}

.logo:hover span {
  color: #a05ce0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 4px;
}

nav a:hover {
  color: #8667F2;
  border-bottom: 2px solid #8667F2;

}

nav a.active {
  color: #8667F2;
  font-weight: bold;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 60px;
  background-color: #e8d6fb;
  padding-top: 20px;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 200px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  color: rgb(61, 61, 61);
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
}

.sidebar nav a i {
  min-width: 20px;
  font-size: 16px;
}

.sidebar nav a span {
  margin-left: 10px;
  display: none;
}

.sidebar:hover nav a span {
  display: inline;
}

.sidebar nav a:hover {
  background-color: #a05ce0;
  transform: scale(1.05);
}
.main-content {
    flex-grow: 1;
    /* padding: 40px; */
    transition: margin-left 0.3s ease;
    border-radius: 10px;
}

/*  */

.hostels {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.hostel-card {
  display: block;
  width: 250px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
  background-color: #fff;
}

.hostel-card:hover {
  transform: scale(1.02);
}

.hostel-card img {
  width: 100%;
  height: 180px;
  object-fit: cover; /* Ensures the image scales properly without distortion */
  display: block;
}

.hostel-card h3 {
  margin: 10px;
  font-size: 18px;
  color: #333;
}

.hostel-card p {
  margin: 0 10px 10px;
  font-size: 14px;
  color: #666;
}
